<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>绘本展示</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles2.css') }}" />
</head>

<body>

    <div id="carousel">
            {% for slide in slides %}
            <div class="slide">
                <img src="{{ slide.image }}" alt="Slide Image">
                <p>{{ slide.text|replace('\n', '<br>')|safe }}</p>
            </div>
            {% endfor %}
        <div class="arrow" id="left-arrow" >&#10094;</div>
        <div class="arrow" id="right-arrow" >&#10095;</div>
    </div>

    <script src="{{ url_for('static',filename='script2.js') }}"></script>

</body>

</html>